body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.postDetailsImg{
  width: 60em;
  height: auto;
}


.userProfileImg{
  width: 15em;
  height: auto;
}
.carouselImg{
  
  width: 100%;
  height: auto;

  min-height: 100%;

}

