

.LoginCard{
    width: 50%;
   
    margin-left: 25%;
    margin-top: 10em;
    background-color: #343a40!important;
    color: #ececec !important;
    margin-bottom: 10em;
    
  }
  .RegistrationCard{
    width: 50%;
   
    margin-left: 25%;
    margin-top: 8em;
    background-color: #343a40!important;
    color: #ececec !important;
    margin-bottom: 5em;
    
  }


  .LoginContainer{
    display: flex;
    background-image:url("https://res.cloudinary.com/dgllrw1m3/image/upload/v1604508348/Main_screen_capture_jqondw.png");
    height: 65em;
    
  }

  .LoginLogo {
      width: 30% !important;
      height: auto;
      margin-left: 35%;
      margin-top: 2em;
  }

  .LoginTitle{
    text-align: center;
    margin-bottom: .5em;
  }
  .LoginSubTitle{
    text-align: center;
    margin-bottom: 2em;
    color: #a4ffbb;
  }


  .LoginEmail{
    margin-left: 5.7em;
  }

  .LoginPassword{
    margin-left: 4em;
  }
  .RegisterFullName{
      width: 70% !important;
      margin-left: 2.1em;
      background-color: #6b6d75 !important;
      border-color: #6b6d75 !important;
      color: #ececec !important;
  }

  .RegisterDisplayName{
    width: 70% !important;
    margin-left: 2.1em;
    background-color: #6b6d75 !important;
    border-color: #6b6d75 !important;
    color: #ececec !important;
}

.RegisterPrimaryFocus{
    margin-left: 2.1em;
    background-color: #6b6d75 !important;
    border-color: #6b6d75 !important;
    color: #ececec !important;

}

.RegisterDescription{
    width: 70% !important;
    margin-left: 2.1em;
    background-color: #6b6d75 !important;
    border-color: #6b6d75 !important;
    color: #ececec !important;
}

.RegisterConfirmPassword{
    width: 70% !important;
    margin-left: .7em;
    background-color: #6b6d75 !important;
    border-color: #6b6d75 !important;
    color: #ececec !important;
}

.RegisterPrimaryFocus{
    margin-left: 1.8em;
}

.FullNameTitle{
margin-left: 3.58em;
}

.DisplayNameTitle{
    margin-left: 2em;

}
.DescriptionTitle{
    margin-left: 3em;
}

.UploadPictureButton{
    margin-left: 10.1em !important;
    background-color: #a4ffbb !important;
    color: #343a40 !important;
}
.RegisterConfirmButton{
margin-left: 80%;
background-color: #a4ffbb !important;
color: #343a40 !important;
}

.ConfirmPasswordTitle{
margin-left: 1.5em;
}

.PrimaryFocusTitle{
    margin-left: 1.2em;
}
  #email {
      width: 70%;
      margin-left: 2.1em;
      background-color: #6b6d75;
      border-color: #6b6d75;
      color: #ececec;
  }

  #password {
      width: 70%;
      margin-left: 2em;
      background-color: #6b6d75;
      border-color: #6b6d75;
      color: #ececec;
  }

  .LoginButton{
      margin-left: 46%;
      background-color: #a4ffbb !important;
      color: #343a40 !important;
  }

  .RegisterText{
      margin-left:40%;
      margin-bottom: 1em !important;
      padding-bottom: 1em;
  }

  .RegisterButton{
      color: #a4ffbb;
  }


